.footer{
  background-color: gray;
}
.footer .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .container .row > #address{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
}
.container > #first-row{
  margin-top: 40px;
}

#address{
  margin-right: 360px;
}
ul li{
  list-style: none;
}
#first-row, #second-row{
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}
.footer-copyright{
  color: white;
  font-size: 12px;
}
.footer-nav-link{
  font-size: 12px;
}