/* ijfddayryumwlpxhrztbizkuhwqprehkmnjn */
@font-face {
font-family: 'ijfddayryumwlpxhrztbizkuhwqprehkmnjn';
font-style: normal;
font-weight: 300;
src: local('ijfddayryumwlpxhrztbizkuhwqprehkmnjn'), url("https://s3.amazonaws.com/brizy.cloud/uploads/media/0d37aee959c97df36a914e5d31ee0f43.ttf") format('truetype');
}
@font-face {
font-family: 'ijfddayryumwlpxhrztbizkuhwqprehkmnjn';
font-style: normal;
font-weight: 400;
src: local('ijfddayryumwlpxhrztbizkuhwqprehkmnjn'), url("https://s3.amazonaws.com/brizy.cloud/uploads/media/9c99b6f39be74035333f3696b297bf3d.ttf") format('truetype');
}
@font-face {
font-family: 'ijfddayryumwlpxhrztbizkuhwqprehkmnjn';
font-style: normal;
font-weight: 600;
src: local('ijfddayryumwlpxhrztbizkuhwqprehkmnjn'), url("https://s3.amazonaws.com/brizy.cloud/uploads/media/59fd69aeec97fe1bf9766ad8318ed792.ttf") format('truetype');
}
@font-face {
font-family: 'ijfddayryumwlpxhrztbizkuhwqprehkmnjn';
font-style: normal;
font-weight: 700;
src: local('ijfddayryumwlpxhrztbizkuhwqprehkmnjn'), url("https://s3.amazonaws.com/brizy.cloud/uploads/media/c5080853199d60cb1d288c1609fa9eec.ttf") format('truetype');
}
